.shoer1{
  position: absolute; 
  z-index: 1;
  background-color: black;
  margin: auto;
  width: 100px;
  height: 400px;
  top: auto;
  left: 130px;
  border-top-right-radius: 45%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background-image: linear-gradient(90deg, black, white, grey, black);
  box-shadow: inset -1px 2px 5px white, 2px 3px 2px black, 5px 10px 5px grey;
}

.shoer2{
  position: absolute;
  z-index: 2;
  margin: auto;
  width: 80px;
  height: 300px;
  top: 100px;
  left: 130px;
  border: 5px solid black;
  border-right: 0;
  border-bottom: 0;
  border-top-right-radius: 40%;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 10%;
  box-shadow: inset 3px 3px 5px grey, .3px 2px 2px grey, 1px 3px 3px white;
}

.shoer3{
  position: absolute;
  z-index: 3;
  top: 215px;
  left: 130px;
  background-color: grey;
  background-image: linear-gradient(90deg, black, white,white, grey, black);
  border: 0px solid grey;
  width: 90px;
  height: 45px;
  border-right: 0;
  border-radius: 14%;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  box-shadow: inset -1px -2px 3px grey, -2px 3px 2px black;
}

.shoer4{
  position: absolute;
  z-index: 3;
  top: 220px;
  left: 130px;
  border: 0px solid black;
  background-color: grey;
  background-image: linear-gradient(90deg, black,#252525, grey,#dddddd,white);
  width: 40px;
  height: 55px;
  border-right: 0;
  border-radius: 50%;
  box-shadow: inset 1px 3px 3px white, 1px 3px 5px black;
}

.shoer5{
  position: absolute;
  z-index: 3;
  top: 235px;
  left: 137px;
  border: 0px solid black;
  background-color: grey;
  background-image: linear-gradient(90deg, black,#252525, grey,#dddddd,white);
  width: 18px;
  height: 26px;
  border-right: 0;
  border-radius: 50%;
  box-shadow: inset 1px 3px 3px white, 1px 3px 5px #252525;
}

.shoel1{
  position: absolute; 
  z-index: 1;
  background-color: black;
  margin: auto;
  width: 100px;
  height: 400px;
  top: auto;
  left: auto;
  border-top-right-radius: 25%;
  border-top-left-radius: 45%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  background-image: linear-gradient(90deg, black, grey, white, black);
  box-shadow: inset -1px 2px 5px white, 2px 3px 2px black, 5px 10px 5px grey;
}

.shoel2{
  position: absolute;
  z-index: 2;
  margin: auto;
  width: 80px;
  height: 300px;
  top: 100px;
  left: 23px;
  border: 5px solid black;
  border-left: 0;
  border-bottom: 0;
  border-top-right-radius: 25%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 30%;
  box-shadow: inset 3px 3px 5px grey, .3px 2px 2px grey, -1px 3px 3px white;
}

.shoel3{
  position: absolute;
  z-index: 3;
  top: 215px;
  left: 23px;
  background-color: grey;
  background-image: linear-gradient(90deg, black, white,white, grey, black);
  border: 0px solid grey;
  width: 90px;
  height: 45px;
  border-left: 0;
  border-radius: 14%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  box-shadow: inset 1px -2px 3px grey, -2px 3px 2px black;
}

.shoel4{
  position: absolute;
  z-index: 3;
  top: 220px;
  left: 70px;
  border: 0px solid black;
  background-color: grey;
  background-image: linear-gradient(90deg, white,#dddddd, grey,#252525,black);
  width: 40px;
  height: 55px;
  border-right: 0;
  border-radius: 50%;
  box-shadow: inset -1px 3px 3px white, -1px 3px 5px black;
}

.shoel5{
  position: absolute;
  z-index: 3;
  top: 235px;
  left: 85px;
  border: 0px solid black;
  background-color: grey;
  background-image: linear-gradient(90deg, white,#dddddd, grey,#252525,black);
  width: 18px;
  height: 26px;
  border-right: 0;
  border-radius: 50%;
  box-shadow: inset -1px 3px 3px white, -1px 3px 5px #252525;
}

.container2{
  position: absolute;
  margin: auto;
  top: auto;
  left: 300px;
}

.dish1{
  position: absolute;
  z-index: 1;
  background-color: black;
  height: 450px;
  width: 550px;
  border-radius: 50%;
  background-image: radial-gradient(white, grey, black);
   box-shadow: inset 1px 2px 7px black, inset 8px 3px 8px white, 3px 3px 8px black;
}

.dish2{
  position: absolute;
  z-index: 2;
  background-color: white;
  height: 350px;
  width: 450px;
  border-radius: 50%;
  top: 50px;
  left: 50px;
  background-image: radial-gradient(white, grey);
  box-shadow: -1px -2px 6px black, inset 1.5px 1px 9px white, inset 3px 3px 5px black;
}

.knife3{
  position: absolute;
  z-index: 3;
  background-color: black;
  left: 23px;
  width: 50px;
  height: 230px;
  border-top-right-radius: 100%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 40%;
  background-image: linear-gradient(90deg, black,white, grey, grey);
  box-shadow: inset 1px -1px 3px white, 1px 2px 2px white, 1px 1px 4px black, 5px 7px 7px black;
}

.knife4{
  position: absolute;
  z-index: 3;
  top: 229px;
  left: 23px;
  background-color: black; 
  width: 40px;
  height: 330px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  background-image: linear-gradient(90deg, black,white, grey, grey);
  box-shadow: inset 1px -1px 3px white, 1px 2px 2px white, 1px 1px 4px black, 5px 7px 7px black;
}

.fork5{
  position: absolute;
  z-index: 3;
  background-color: grey;
  width: 15px;
  height: 200px;
  top: 10px;
  left: 465px; 
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-image: linear-gradient(90deg, black, white, grey, grey);
  box-shadow: inset 1px 1px 4px white, 1px 1px 4px black;
}

.fork6{
  position: absolute;
  z-index: 3;
  background-color: grey;
  width: 15px;
  height: 200px;
  top: 10px;
  left: 500px; 
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-image: linear-gradient(90deg, black, white, grey, grey);
  box-shadow: inset 1px 1px 4px white, 1px 1px 4px black;
}

.fork7{
  position: absolute;
  z-index: 3;
  background-color: grey;
  width: 15px;
  height: 200px;
  top: 10px;
  left: 535px; 
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  background-image: linear-gradient(90deg, black, white, grey, grey);
    box-shadow: inset 1px 1px 4px white, 1px 1px 4px black;
}

.fork10{
  position: absolute;
  z-index: 3;
  background-color: grey;
  width: 85px;
  height: 90px;
  top: 150px;
  left: 465px; 
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  background-image: linear-gradient(90deg, black, white, grey, white, grey,white, grey);
  box-shadow: inset 1px 1px 4px white, 1px 1px 4px black;
}

.fork11{
  position: absolute;
  z-index: 2;
  background-color: black;
  width: 40px;
  height: 330px;
  top: 233px;
  left: 487px; 
  background-image: linear-gradient(90deg, black, white, grey, grey);
  box-shadow: inset 1px -1px 3px white, 1px 2px 2px white, 1px 1px 4px black, 5px 7px 7px black;
}

.eye12{
  position: absolute;
  z-index: 2;
  background-color: black;
  width: 200px;
  height: 200px;
  top: 130px;
  left: 160px;
  border-radius: 50%;
  background-image: radial-gradient(white,grey, grey,#313131,black);
  box-shadow: inset 5px 5px 8px white,1px 1px 5px grey,10px 10px 11px black;
  filter: blur(5px);
}

.eye13{
  position: absolute;
  z-index: 2;
  background-color: grey;
  width: 100px;
  height: 100px;
  top: 180px;
  left: 208px;
  border-radius: 50%;
  background-image: radial-gradient(white, black);
  box-shadow: inset 0px 0px 10px white,inset 0px 0px 10px black,0px 0px 20px grey;
  filter: blur(8px);
}

.eye14{
  position: absolute;
  z-index: 2;
  border: 1px solid red;
  width: 200px;
  height: 120px;
  top: 250px;
  left: 170px;
  border-radius: 50%;
  box-shadow: inset 0px -5px 10px white,inset 5px 5px 18px red,0px 0px 20px black;
}

.eye15{
  position: absolute;
  z-index: 3;
  border: 10px solid #ffb4b4;
  width: 160px;
  height: 80px;
  top: 280px;
  left: 190px;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 50%;
  filter: blur(5px);
}

.eye16{
  position: absolute;
  z-index: 3;
  background-color: black;
  width: 80px;
  height: 25px;
  top: 349px;
  left: 230px;
  border-radius: 50%;
  box-shadow: inset 0px -5px 10px white,inset 0px 0px 10px black,0px 0px 5px red, inset 1px 1px 8px red,1px 1px 20px black;
}

.eye17{
  position: absolute;
  z-index: 1;
  left: 1px;
  top: 150px;
  background-color: black;
  width: 350px;
  height: 300px;
  border-radius: 50%;
  filter: blur(30px);
  transform: rotate(10deg);
  box-shadow: inset 2px 1px 5px white, 3px 3px 5px grey;
}

.wheel1::before, .wheel1::after {
  content:'';
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: blur(10px);
}

.wheel1::before{
  top: 1500px;
  left: 1000px;
}

.wheel1::after{
  top: 1500px;
  left: 2300px;
}

.wheel1-1::before, .wheel1-1::after {
  content:'';
  position: absolute;
  z-index: 3;
  border: 3px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

.wheel1-1::before{
  top: 1535px;
  left: 1030px;
}

.wheel1-1::after{
  top: 1535px;
  left: 2333px;
}

.wheel2{
  position: absolute;
  z-index: 1;
  background-color: black;
  width: 3500px;
  height: 3500px;
  top: 1000px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  filter: blur(30px);
}

.wheel3::before, .wheel3::after{
  content: '';
  position: absolute;
  z-index: 2;
  border: 5px dotted white;
  width: 100px;
  height: 500px;
  border-radius: 50%;
  border-bottom: 0;
  border-left: 0;
}

.wheel3::before{
  top: 1530px;
  left: 996px;
}

.wheel3::after{
  top: 1530px;
  left: 1005px;
}

.wheel4::before, .wheel4::after{
  content: '';
  position: absolute;
  z-index: 2;
  border: 5px dotted white;
  width: 100px;
  height: 500px;
  border-radius: 50%;
  border-bottom: 0;
  border-right: 0;
}

.wheel4::before{
  top: 1530px;
  left: 2300px;
}

.wheel4::after{
  top: 1530px;
  left: 2309px;
}

.wheel5{
  position: absolute;
  z-index: 2;
  width: 1000px;
  height: 1500px;
  top: 2300px;
  left: 1200px;
  border: 10px dashed white;
  border-radius: 50%;
  filter: blur(5px);
  border-bottom: 0;
}

.wheel6::before, .wheel6::after{
  content: '';
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  transform: rotate(1deg);
  filter: blur(1px);
}

.wheel6::before{
  width: 800px;
  height: 1300px;
  top: 2325px;
  left: 1232px;
  border: 80px dotted white;
  background-image: radial-gradient(white, grey, black, black);
  border-bottom: 0;
}

.wheel6::after{
  width: 838px;
  height: 1340px;
  top: 2350px;
  left: 1250px;
  border: 40px double white;
  border-bottom: 0;
}

.wheel7::before, .wheel7::after{
  content: '';
  position: absolute;
  z-index: 3;
  width: 800px;
  height: 800px;
  background-image: radial-gradient(white, black, black, grey, black);
  border-radius: 50%;
  filter: blur(50px);
}

.wheel7::before{
  top: 2000px;
  left: 100px;
}

.wheel7::after{
  top: 2000px;
  left: 2650px;
}

.wheel8::before, .wheel8::after{
  content: '';
  position: absolute;
  z-index: 2;
  border: 10px dotted white;
  width: 0px;
  border-bottom: 0;
}

.wheel8::before{
  top: 2500px;
  left: 480px;
  height: 1880px;
}

.wheel8::after{
  top: 2500px;
  left: 3050px;
  height: 1000px;
}

.wheel9{
  position: absolute;
  z-index: 1;
  border: 50px solid white;
  width: 3400px;
  height: 3350px;
  top: 1100px;
  left: 100px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-right: 0;
  border-bottom: 0;
  filter: blur(100px);
}

/*
.fork8{
  position: absolute;
  z-index: 4;
  width: 25px;
  height: 40px;
  top: 109px;
  left: 477px; 
  border: 13px solid grey;
  border-radius: 50%;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}

.fork9{
  position: absolute;
  z-index: 4;
  width: 25px;
  height: 40px;
  top: 109px;
  left: 512px; 
  border: 13px solid transparent;
  border-radius: 50%;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}
*/