html{
	background-image: linear-gradient(180deg, white, black);
	background-size: 120rem 470rem;
}

em{
	background-color: red ;
	position:-webkit-sticky;
	position: sticky;
	top: 0;
}










/* header */
h1,h2,h3,h4,h5,h6{
	background-color:black ;
	font-family: complex;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, em:hover {
	background-color: white ; 
}











/* center part*/
.center{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 10px;
	height: 10px;
}

.one{
	position: absolute;
	top: 0;
	font-family: ITC Kable Std;
	font-size: 20px;
	font-weight: normal;
	left: 400px;
	width: 5px;
	height: 5px;
	background-color: red;

}

.shiftOne{
	position:absolute;
}

.overlayImg{
	position: absolute;
	margin-left: 400px;
	top:0;
	bottom:0;
	right:0;
	left:0;
	height: 10%;
	width: 150%;
	opacity: 0;
}

.shoeright{
	position: absolute;
	top: 120px;
	opacity: 0;
	transition: .2s ease;
}

.shoeleft{
	position: absolute;
	top: 120px;
	opacity: 0;
	transition: .2s ease;
}

.fpr{
	position: absolute;
	right: 1000px;
	top: 2000px;
	opacity: 0;
	transition: .2s ease;
}

.fpl{
	position: absolute;
	right: 1000px;
	top: 2000px;
	opacity: 0;
	transition: .2s ease;
}

.shiftOne:hover .overlayImg{
	opacity: 1;
	animation: turn 5s;
}

@keyframes turn{
	from {width: 100px; height: 10px;}
	to {width: 100px ; height: 1000px;}
}

.shiftOne:hover .shoeright{
	opacity: 1;
	animation: walkright 5s;
}

@keyframes walkright{
	0% {top:1200px; opacity:1;}
	25% {top:600px; opacity:0;}
	50% {top:600px; opacity:1;}
	75% {top:0px; opacity:0;}
	100% {top:0px; opacity:1;}
}

.shiftOne:hover .shoeleft{
	opacity: 1;
	animation: walkleft 5s;
}

@keyframes walkleft{
	0% {top:900px; opacity:0;}
	25% {top:900px; opacity:1;}
	50% {top:300px; opacity:0;}
	75% {top:300px; opacity:1;}
	100% {top:0px; opacity:0;}
}

.shiftOne:hover .fpl{
	opacity: 1;
	animation: fpl 5s .2s;
}

@keyframes fpl{
	0% {top:1200px; opacity:0;}
	25% {top:1200px; opacity:1;}
	50% {top:600px; opacity:0;}
	75% {top:600px; opacity:1;}
	100% {top:0px; opacity:0;}
}

.shiftOne:hover .fpr{
	opacity: 1;
	animation: fpr 5s .2s;
}

@keyframes fpr{
	0% {top:900px; opacity:0;}
	25% {top:900px; opacity:0;}
	50% {top:900px; opacity:1;}
	75% {top:300px; opacity:0;}
	100% {top:300px; opacity:1;}
}

.shiftOne:hover .one{
	opacity: 0;
}

.two{
	position: absolute;
	font-family: ITC Kable Std;
	font-weight: normal;
	left: -292px;
	top: 253px;
	width: 8px;
	height: 8px;
	background-color: transparent;
	color: transparent;
	transition: .3s ease;
}

.shiftTwo{
	position: absolute;
}

.clock{
	position: absolute;
	opacity: 0;
	width: 100px;
	height: 100px;
	transition: .2s ease;
}

.shiftTwo:hover .clock{
	opacity: 1;
	animation: clock 3s infinite;
}

@keyframes clock{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(45deg);}
	100%{transform: rotate(0deg);}
}

.three{
	position: absolute;
	font-family: ITC Kable Std;
	left: 230px;
	top: 400px;
	width: 5px;
	height: 5px;
	background-color: transparent;
	color: transparent;
}

.four{
	position: absolute;
	font-family: ITC Kable Std;
	top: 250px;
	left: 253px;
	width: 3px;
	height: 3px;
	background-color: transparent;
	color: transparent;
}

.five{
	position: absolute;
	font-family: ITC Kable Std;
	font-size: 5px;
	top: 220px;
	left: 253px;
	width: 3px;
	height: 3px;
	background-color: transparent;
	color: transparent;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover{
	background-color: red;
	color: black;
}

a:link, a:visited, a:active{
	opacity: 1;
	text-decoration: none;
	color: black;

}

a:hover{
	opacity: 1;
	text-decoration: none;
	color: red;
	font-size: 120px;
}













/* left part */
.left{
	width: 0px;
	height: 1000px;
	position: relative;
	animation: move1 10s infinite;
}

@keyframes move1{
	0% {transform: rotate(0deg); opacity: .3;}
	25% {transform: rotate(25deg);opacity: 1;}
	50% {transform: rotate(-25deg);opacity: .6;}
	100% {transform: rotate(0deg);opacity: 0;}
}














/* right part */
.right{
	position: relative;
	margin-left: auto;
	margin-top: auto;
	width: 2px;
	height: 1000px;
	animation: move2 10s infinite;
}

@keyframes move2{
	0% {transform: rotate(0deg);opacity: 1;}
	100% {transform: rotate(-360deg);opacity: 0;}
}

#smaller{
	font-size: 10px;
	font-weight: thin;
}













/* bottom part */
img{
	position: absolute;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.n3, .n10{
	animation: n310 5s infinite;
}

@keyframes n310{
	from{transform: rotate(-20deg);}
	to{transform: rotate(-380deg);}
}

.n8, .n12{
	animation: n812 5s infinite;
}

@keyframes n812{
	from{transform: rotate(20deg);}
	to{transform: rotate(380deg);}
}

.n1, .n2{
	animation: n12 5s infinite;
}

@keyframes n12{
	from{transform: rotate(120deg);}
	to{transform: rotate(270deg);}
}

.n5{
	animation: n5 3s infinite;
}

@keyframes n5{
	0%{transform: rotate(-45deg);}
	50%{transform: rotate(45deg);}
	100%{transform: rotate(-45deg);}
}

.n9{
	animation: n9 5s infinite;
}

@keyframes n9{
	0%{transform: rotate(0deg);}
	50%{transform: rotate(-120deg);}
	100%{transform: rotate(0deg);}
}

.n4, .n6{
	animation: n46 5s infinite;
}

@keyframes n46{
	0%{transform: rotate(250deg);}
	50%{transform: rotate(-250deg);}
	100%{transform: rotate(250deg);}
}

.n7{
	animation: n7 5s infinite;
}

@keyframes n7{
	0%{transform: rotate(60deg);}
	50%{transform: rotate(-120deg);}
	100%{transform: rotate(60deg);}
}

.container{
	position: absolute;

}

.six{
	display: block;
	width: 100%;
	height: auto;
	box-shadow: 0 4px 8px 0 red;

}

.textimg{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top:0;
	bottom:0;
	right:0;
	left:0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
}

.container:hover .six{
	transform: 180deg;
}

.container:hover .textimg{
	opacity: 1;
	height: 100%;
	width: 100%;

}








/* drawing*/

.monster{
  top: 500px;
  left: 665px;
}



/*html{
	background-image: linear-gradient(180deg, #04879c, #0c3c78, #090030, #f30a49);
}

	0% {transform: rotate(0deg);}
	5% {transform: rotate(5deg);}
	15% {transform: rotate(0deg);}
	20% {transform: rotate(15deg);}
	25% {transform: rotate(5deg);}
	30% {transform: rotate(25deg);}
	35% {transform: rotate(15deg);}
	40% {transform: rotate(35deg);}
	45% {transform: rotate(25deg);}
	50% {transform: rotate(45deg);}
	55% {transform: rotate(35deg);}
	60% {transform: rotate(55deg);}
	65% {transform: rotate(45deg);}
	70% {transform: rotate(65deg);}
	75% {transform: rotate(55deg);}
	80% {transform: rotate(75deg);}
	85% {transform: rotate(65deg);}
	90% {transform: rotate(85deg);}
	95% {transform: rotate(75deg);}
	100% {transform: rotate(90deg);}
}

img{
	width: 10px;
	height:100px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	transform: rotate(-20deg);
}

.center{
	display: inline-block;
}

.center+.centeri{
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	
}

.center:hover+.centeri{
	display: inline;
}

/*.container1{
	position: absolute;
	margin-right: 50px;
	top:0;
	bottom:0;
	right:0;
	left:0;
	height: 10px;
	width: 12px;
	transform: scaleY(1.5);
	opacity: 0;
	transition: 1.3s ease;
}

0%{transform: rotate(0deg);}
	25%{transform: rotate(90deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(-90deg);}
	100%{transform: rotate(0deg);}

*/